body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto;
    font-size: 15px;
    color: #424242;
    background:#ecede2;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}



/*
 *
 * Header
 *
 */

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
    background :#67d0f2;
    
    

    
}

.header__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    max-height :72px;
    max-width:72px;
    
    margin-right: 1em;
    margin-top: 8px;
    margin-bottom: 9px;
    margin-left: 52px;
   
        
}

.header__title {
    font-weight: 300;
    font-size: 30px;
    margin: 0.75em 0.25em;
    display: inline-block;
   
    color: #30373d
}


.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #dbebea;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 54px;
    transition: min-height 0.3s;
    
}

/*.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}*/



    .nav a:hover {
        color:white;
        text-decoration:underline;
        background:#809198;
       
    }
li a.active {
    color: white;
    text-decoration: underline;
    background: #809198
}

.main {
    background: rgba(246, 246, 246, 0.92);
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;

}

aside {
    background:#4f7d92;
    color:#f3f5e2;
}




footer {
    background: #67d0f2;
    color: #30373d;
    text-align: center;
    padding:26px;

   
}

section {
    background: #d6dfe1;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
}

a {
    display: block;
    padding: 12px;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 29px;
    transition: min-height 0.3s;
}







li a, .dropbtn {
    display: inline-block;
    color: #424546;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    text-transform: uppercase;
}

li.dropdown {
    display: inline-block;
}

li {
    
    display: inline-block;
}

    li a:hover, .dropdown:hover .dropbtn {
        background-color: #809198;
    }

   

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dbebea;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #809198
        }

.dropdown:hover .dropdown-content {
    display: block;
}

img {
 
 max-width:470px;
 
 height:100%;
 width:100%;

 
}
.footer_imagenes{
   height:40px;
   width:40px;
}
.rotar {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    
    
}
.rotar:hover {
    transform: rotate(4deg);
    -webkit-transform: rotate(6deg);
}
.cambiar_color {
    background:#dbebea;
    color:#000c14;
}
    .cambiar_color:hover {
        background: #809198;
        color:white;
    }

.text_box {
    color:black;
    max-width:80%;
}



   




